body{
    padding: 20px;
    background-color: #60FF00;
}

.logOut{
    float: right;
    margin: 20px;
}

.cancelarAll{
    margin: 1em;
}

.estados{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logoImg{
    width: 200px;
}

.tablaDocentes{
    text-align: center;
    background: #60FF0045;
}

.tablaProf{
    background-color: greenyellow;
}

.tablaTurn{
    background-color: greenyellow;
}

.tablaEstados{
    text-align: center;
    background: #60FF0045;
}
